<!--
Шаблон стикера корзины товаров

Содержит переменные:

%total_basket_items% - Сколько всего товаров в корзине
%field_total[price]% - Сумма поля 'price'
%ending% - товар с правильным окончанием 
%basket_link% - Перменная, которая содержит ссылку корзину
 -->

<!-- ****************************************** Шаблон стикера корзины товаров ****************************************** -->

<div style="float:right">
    <a href="%basket_link%">в корзине %total_basket_items% %ending% <br>на сумму %field_total[price]% руб</a>
</div>
<br clear="all"/>         