<!--
Шаблон динамического меню сайта

Содержит секции:

@begin 	-	Выводится один раз, перед самым началом построения меню.
@link - 	Выводится для элемента меню (страницы сайта), на который(-ой) может перейти пользователь.
@activelink 	-	Выводится для элемента меню (страницы сайта), на котором(-ой) сейчас находится пользователь.
@passiveactive 	- 	Выводится для элемента меню, который находится в текущей дороге пользователя, и выше по уровню от текущей страницы.
@delimiter 	- 	Выводится между любыми элементами меню.
@end 	- 	Выводится один раз, в самом конце построения меню.
@@nextlevel - указывается после любого из основных и дополнительных блоков и определяет их (эти блоки) для страниц следующего уровня. @beginactiv 	-	Если указан, то будет выводиться перед началом меню, когда первый элемент меню является активным (т.е. выбранным пользователем), и замещает собой блок @begin
@delimiteractivstart 	- 	Если указан, то будет выводиться перед блоком @activelink, заменяя собой блок @delimiter
@delimiteractivend 	- 	Если указан, то будет выводиться после блока @activelink, заменяя собой блок @delimiter
@endactiv 	- 	Если указан, то будет выводиться в самом конце меню, когда активным является последний элемент меню, и замещает блок @end

Содержит переменные:
%id% - ID-страницы
%level% - уровень вложенности
%link% - сформированный URI
%text% - анкор ссылки
%title% - заголовок страницы при его наличии
Также может содержать включенные переменные из дополнительных свойств страницы: %idполя%


-->

<!-- ****************************************** Шаблон динамического меню сайта ****************************************** -->

<!-- @begin -->
				<ul>
<!-- @@nextlevel -->

<!-- @link -->
					<li><a href="%link%" title="%title%">%text%</a></li>
<!-- @@nextlevel -->
&nbsp;&nbsp;&nbsp;&nbsp;<a class="ext_menu" href="%link%" title="%title%">%text%</a><br>
<!-- @@nextlevel -->
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="ext_menu" href="%link%" title="%title%">%text%</a><br>


<!-- @activelink -->
					<li class="current">%text%</li>
<!-- @@nextlevel -->
&nbsp;&nbsp;&nbsp;&nbsp;<a class="ext_menu" href="%link%" title="%title%"><b>%text%</b></a><br>
<!-- @@nextlevel -->
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="ext_menu" href="%link%" title="%title%"><b>%text%</b></a><br>

<!-- @passiveactive -->
&nbsp;&nbsp;<a class="ext_menu" href="%link%" title="%title%"><i>%text%</i></a><br>
<!-- @@nextlevel -->
&nbsp;&nbsp;&nbsp;&nbsp;<a class="ext_menu" href="%link%" title="%title%"><i>%text%</i></a><br>
<!-- @@nextlevel -->
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="ext_menu" href="%link%" title="%title%"><i>%text%</i></a><br>

<!-- @end -->
				</ul>
<!-- @@nextlevel -->

